body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {

    background: rgb(221,51,51);
    background: linear-gradient(90deg, rgba(221,51,51,1) 0%, rgba(230,73,70,1) 1%, rgba(221,51,51,1) 1%, rgba(230,73,70,1) 8%, rgba(255,238,0,1) 100%);
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

h2 {
    text-align: center;
}



nav {
    margin: 1em 0;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

img {
    align-items: center;
}

ul div img {
    max-width: 500px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 45px 35px;
}

.box {
    height: 20rem;
    width: 18rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}

.box img {
    object-fit: cover;
    text-align: center;
    width: 70%;
    height: 70%;
}

.box a {
    text-decoration: none;
}